body {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		min-height: calc(100vh - 60px);
		margin: 0;
		font-family: Roboto, sans-serif;
		text-transform: uppercase;
		padding: 30px 15px;
		font-size: 16px;
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 400% 400%;
		animation: gradient 10s ease infinite;
	}
	
	h1 {
		font-size: 26px;
		margin-bottom: 20px;
		margin-top: 0;
		color: #FFF;
	}

	.title {
		color: #FFF;
	}

	.title:hover {
		color: rgb(185, 182, 182);
	}
	
	a {
		text-decoration: none;
		color: #111;
		transition: color .3s ease;
		display: inline-block;
	}

	a:hover {
		color: #698474;
	}
	
	table {
		width: 100%;
		max-width: 700px;
		border-spacing: 0;
		border-collapse: collapse;
		border-top: 1px solid #E6E6E6;
		border-left: 1px solid #E6E6E6;
		background-color: #FFF;
		box-shadow: 0 4px 10px rgb(0 0 0 / 70%);
}
	
	td, th {
		padding: 10px 20px;
		border-right: 1px solid #E6E6E6;
		border-bottom: 1px solid #E6E6E6;
		text-align: center;
		width: 50%;
	}

	th {
		position: sticky;
		top: -1px;
    background-color: #525050;
		color: #FFF;
	}

	th:first-child,
	td:first-child {
		width: 15%;
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: 25%;
	}

	th:last-child,
	td:last-child {
		width: 55%;
	}

	td a, th a {
		padding: 10px;
	}

	.test {
		font-weight: 700;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	
	@media (max-width: 600px) {
		
		body {
			font-size: 14px;
			min-height: auto;
		}
		
		h1 {
			font-size: 20px;
		}
		
		td {
			padding: 10px;
		}

		th:first-child,
		td:first-child {
			width: 30%;
		}

		th:nth-child(2),
		td:nth-child(2) {
			display: none;
		}
	
		th:last-child,
		td:last-child {
			width: 70%;
		}
	}