@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ul li {
  padding: 0;
  margin: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button, input[type=button] {
  outline: 0;
  border: none;
  cursor: pointer;
}

@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.333333%;
}

.pull-2 {
  right: 16.666667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.333333%;
}

.pull-5 {
  right: 41.666667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.333333%;
}

.pull-8 {
  right: 66.666667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.333333%;
}

.pull-11 {
  right: 91.666667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.333333%;
}

.push-2 {
  left: 16.666667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.333333%;
}

.push-5 {
  left: 41.666667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.333333%;
}

.push-8 {
  left: 66.666667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.333333%;
}

.push-11 {
  left: 91.666667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-sm-0 {
    right: auto;
  }

  .pull-sm-1 {
    right: 8.333333%;
  }

  .pull-sm-2 {
    right: 16.666667%;
  }

  .pull-sm-3 {
    right: 25%;
  }

  .pull-sm-4 {
    right: 33.333333%;
  }

  .pull-sm-5 {
    right: 41.666667%;
  }

  .pull-sm-6 {
    right: 50%;
  }

  .pull-sm-7 {
    right: 58.333333%;
  }

  .pull-sm-8 {
    right: 66.666667%;
  }

  .pull-sm-9 {
    right: 75%;
  }

  .pull-sm-10 {
    right: 83.333333%;
  }

  .pull-sm-11 {
    right: 91.666667%;
  }

  .pull-sm-12 {
    right: 100%;
  }

  .push-sm-0 {
    left: auto;
  }

  .push-sm-1 {
    left: 8.333333%;
  }

  .push-sm-2 {
    left: 16.666667%;
  }

  .push-sm-3 {
    left: 25%;
  }

  .push-sm-4 {
    left: 33.333333%;
  }

  .push-sm-5 {
    left: 41.666667%;
  }

  .push-sm-6 {
    left: 50%;
  }

  .push-sm-7 {
    left: 58.333333%;
  }

  .push-sm-8 {
    left: 66.666667%;
  }

  .push-sm-9 {
    left: 75%;
  }

  .push-sm-10 {
    left: 83.333333%;
  }

  .push-sm-11 {
    left: 91.666667%;
  }

  .push-sm-12 {
    left: 100%;
  }

  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.333333%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.333333%;
  }

  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-md-0 {
    right: auto;
  }

  .pull-md-1 {
    right: 8.333333%;
  }

  .pull-md-2 {
    right: 16.666667%;
  }

  .pull-md-3 {
    right: 25%;
  }

  .pull-md-4 {
    right: 33.333333%;
  }

  .pull-md-5 {
    right: 41.666667%;
  }

  .pull-md-6 {
    right: 50%;
  }

  .pull-md-7 {
    right: 58.333333%;
  }

  .pull-md-8 {
    right: 66.666667%;
  }

  .pull-md-9 {
    right: 75%;
  }

  .pull-md-10 {
    right: 83.333333%;
  }

  .pull-md-11 {
    right: 91.666667%;
  }

  .pull-md-12 {
    right: 100%;
  }

  .push-md-0 {
    left: auto;
  }

  .push-md-1 {
    left: 8.333333%;
  }

  .push-md-2 {
    left: 16.666667%;
  }

  .push-md-3 {
    left: 25%;
  }

  .push-md-4 {
    left: 33.333333%;
  }

  .push-md-5 {
    left: 41.666667%;
  }

  .push-md-6 {
    left: 50%;
  }

  .push-md-7 {
    left: 58.333333%;
  }

  .push-md-8 {
    left: 66.666667%;
  }

  .push-md-9 {
    left: 75%;
  }

  .push-md-10 {
    left: 83.333333%;
  }

  .push-md-11 {
    left: 91.666667%;
  }

  .push-md-12 {
    left: 100%;
  }

  .offset-md-0 {
    margin-left: 0%;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-lg-0 {
    right: auto;
  }

  .pull-lg-1 {
    right: 8.333333%;
  }

  .pull-lg-2 {
    right: 16.666667%;
  }

  .pull-lg-3 {
    right: 25%;
  }

  .pull-lg-4 {
    right: 33.333333%;
  }

  .pull-lg-5 {
    right: 41.666667%;
  }

  .pull-lg-6 {
    right: 50%;
  }

  .pull-lg-7 {
    right: 58.333333%;
  }

  .pull-lg-8 {
    right: 66.666667%;
  }

  .pull-lg-9 {
    right: 75%;
  }

  .pull-lg-10 {
    right: 83.333333%;
  }

  .pull-lg-11 {
    right: 91.666667%;
  }

  .pull-lg-12 {
    right: 100%;
  }

  .push-lg-0 {
    left: auto;
  }

  .push-lg-1 {
    left: 8.333333%;
  }

  .push-lg-2 {
    left: 16.666667%;
  }

  .push-lg-3 {
    left: 25%;
  }

  .push-lg-4 {
    left: 33.333333%;
  }

  .push-lg-5 {
    left: 41.666667%;
  }

  .push-lg-6 {
    left: 50%;
  }

  .push-lg-7 {
    left: 58.333333%;
  }

  .push-lg-8 {
    left: 66.666667%;
  }

  .push-lg-9 {
    left: 75%;
  }

  .push-lg-10 {
    left: 83.333333%;
  }

  .push-lg-11 {
    left: 91.666667%;
  }

  .push-lg-12 {
    left: 100%;
  }

  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-xl-0 {
    right: auto;
  }

  .pull-xl-1 {
    right: 8.333333%;
  }

  .pull-xl-2 {
    right: 16.666667%;
  }

  .pull-xl-3 {
    right: 25%;
  }

  .pull-xl-4 {
    right: 33.333333%;
  }

  .pull-xl-5 {
    right: 41.666667%;
  }

  .pull-xl-6 {
    right: 50%;
  }

  .pull-xl-7 {
    right: 58.333333%;
  }

  .pull-xl-8 {
    right: 66.666667%;
  }

  .pull-xl-9 {
    right: 75%;
  }

  .pull-xl-10 {
    right: 83.333333%;
  }

  .pull-xl-11 {
    right: 91.666667%;
  }

  .pull-xl-12 {
    right: 100%;
  }

  .push-xl-0 {
    left: auto;
  }

  .push-xl-1 {
    left: 8.333333%;
  }

  .push-xl-2 {
    left: 16.666667%;
  }

  .push-xl-3 {
    left: 25%;
  }

  .push-xl-4 {
    left: 33.333333%;
  }

  .push-xl-5 {
    left: 41.666667%;
  }

  .push-xl-6 {
    left: 50%;
  }

  .push-xl-7 {
    left: 58.333333%;
  }

  .push-xl-8 {
    left: 66.666667%;
  }

  .push-xl-9 {
    left: 75%;
  }

  .push-xl-10 {
    left: 83.333333%;
  }

  .push-xl-11 {
    left: 91.666667%;
  }

  .push-xl-12 {
    left: 100%;
  }

  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.333333%;
  }

  .offset-xl-2 {
    margin-left: 16.666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.333333%;
  }

  .offset-xl-5 {
    margin-left: 41.666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.333333%;
  }

  .offset-xl-8 {
    margin-left: 66.666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.333333%;
  }

  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
/*# sourceMappingURL=bootstrap-grid.css.map */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  overflow-x: hidden;
  font-weight: 400;
  color: #838b8c;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  color: #343a3b;
}

p {
  margin-bottom: 20px;
  font-family: "Domine", serif;
}
p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.color-shema-white {
  color: #fff;
}
.color-shema-white h1, .color-shema-white h2, .color-shema-white h3, .color-shema-white h4, .color-shema-white h5, .color-shema-white h6, .color-shema-white input {
  color: #fff;
}
.color-shema-white p, .color-shema-white ul, .color-shema-white span {
  color: rgba(255, 255, 255, 0.7);
}

.top-bar {
  background-color: #262829;
}

.top-bar-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
.top-bar-inner > div {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar-inner > div:not(:last-child) {
  margin-right: 25px;
  padding-right: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.header-general-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo-header {
  flex-shrink: 0;
  margin-right: 15px;
}

.header-menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-right: -15px;
}
.header-menu li a {
  display: inline-block;
  padding: 10px;
  margin: 0 8px;
  color: #4e4e4e;
}
.header-menu li:hover a, .header-menu li.active a {
  color: #ffac55;
}

.burger-menu {
  display: none;
  margin: 5px;
  padding: 10px 15px;
  font-size: 20px;
  background: transparent;
  border: 1px solid #000;
}

.banner {
  background: url(../img/banner.png);
  background-size: cover;
  padding-top: 176px;
  margin-bottom: 95px;
  position: relative;
}

.industary {
  max-width: 458px;
  text-transform: uppercase;
}
.industary .row > div:nth-child(even) {
  border-bottom: 1px solid #00a6d3;
  border-right: 1px solid #00a6d3;
}
.industary .row > div:nth-child(odd) {
  border-bottom: 1px solid #00a6d3;
}
.industary .row > div:last-child, .industary .row > div:nth-last-child(2) {
  border-bottom: none;
}

.industary-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.industary-title {
  padding: 27px 39px;
  background: #FFAC56;
}
.industary-title h4 {
  margin-bottom: 0;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.industary-title p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: none;
}

.industary-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding-top: 35px;
  padding-left: 39px;
  padding-right: 27px;
  padding-bottom: 32px;
  background: #03B6E7;
}
.industary-link img {
  margin-bottom: 6px;
}
.industary-link:hover {
  background: #00A6D3;
}
.industary-link:hover .arrow-right-industary {
  opacity: 1;
}

.industary-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 149px;
  background: #03B6E7;
}

.title-text-industary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow-right-industary {
  border: 1px solid #fff;
  padding: 3px 10px;
  border-radius: 50%;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.arrow-banner {
  position: absolute;
  top: 50%;
  height: 105px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: #262829;
  transform: translateY(-50%);
  transition: background 0.3s ease;
  cursor: pointer;
}
.arrow-banner:hover {
  background: #1b2225;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.button-full {
  display: inline-block;
  padding: 14px 25px;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #16d428;
  color: #fff;
  transition: all 0.3s ease;
}
.button-full.btn-large {
  padding: 19px 35px;
  letter-spacing: 1px;
}
.button-full.btn-medium {
  padding: 17px 36px;
}
.button-full.btn-max {
  padding: 14px 28px;
}
.button-full.btn-industries {
  padding: 14px 35px;
}
.button-full.btn-extra {
  padding: 14px 39px;
}
.button-full:hover {
  background: #10911d;
}

.title {
  margin-right: 15px;
  margin-top: -3px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.link-full-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.about {
  margin-bottom: 67px;
}
.about .title {
  margin-right: 0;
  letter-spacing: -2.5px;
}

.about-text {
  margin-top: 5px;
  margin-right: 21px;
  margin-bottom: 30px;
  text-align: right;
}
.about-text .title {
  margin-bottom: 17px;
}
.about-text p {
  margin-bottom: 39px;
  line-height: 2;
}

.about-foto {
  position: relative;
}
.about-foto > img {
  width: 100%;
}

.badge {
  position: relative;
  margin: 0 auto;
  margin-top: -93px;
  margin-bottom: -159px;
  max-width: 235px;
  width: 100%;
  padding: 17px;
  border: 6px solid #fff;
  box-shadow: 0 9px 16px rgba(154, 154, 154, 0.3);
  background: #03B6E7;
  text-transform: uppercase;
}
.badge .text {
  margin-bottom: 29px;
  font-size: 10px;
  letter-spacing: 1px;
}

.badge-content {
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 1;
}
.badge-content img {
  margin-bottom: 30px;
}
.badge-content .number {
  font-size: 75px;
}

.about-page p {
  line-height: 2;
  letter-spacing: 1px;
}
.about-page .badge {
  margin: 0;
  margin-bottom: -125px;
}
.about-page .badge-content {
  height: auto;
}
.about-page .row > div {
  margin-bottom: 30px;
}

.about-page-text {
  margin-top: 80px;
}

.badge-wrapper {
  display: flex;
  justify-content: flex-end;
}

.badge-client {
  padding: 10px;
  padding-top: 36px;
  text-align: center;
}
.badge-client .number-client {
  font-size: 48px;
}
.badge-client .text {
  margin-top: -8px;
}

.infobox {
  background: #E7EFF1;
  padding-top: 90px;
  padding-bottom: 58px;
  margin-bottom: 93px;
}
.infobox img {
  margin-bottom: 26px;
}
.infobox h6 {
  margin-bottom: 17px;
}
.infobox h6 a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.infobox h6 a:hover {
  opacity: 0.6;
}
.infobox p {
  line-height: 2;
  letter-spacing: 1px;
}
.infobox .title {
  margin-bottom: 9px;
}
.infobox .number {
  margin-bottom: 11px;
  font-size: 20px;
  color: #16d428;
  line-height: 1;
}
.infobox .row > div {
  margin-bottom: 30px;
}

.core .title {
  margin-bottom: 23px;
}

.projects {
  padding-bottom: 94px;
}
.projects .row {
  margin-bottom: 7px;
}
.projects .title {
  margin-bottom: 21px;
}

.project-foto {
  position: relative;
  margin-bottom: 30px;
}
.project-foto img {
  width: 100%;
}
.project-foto .info {
  position: absolute;
  top: 22px;
  left: 20px;
  padding: 6px;
  min-width: 109px;
  border: 1px solid #FFAC56;
  border-radius: 20px;
  background: transparent;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
.project-foto::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 28px solid transparent;
  border-bottom: 28px solid #03B6E7;
  border-left: 28px solid #03B6E7;
  transition: border-color 0.3s ease;
  z-index: 1;
  cursor: pointer;
}
.project-foto::after {
  content: "+";
  position: absolute;
  bottom: -5px;
  left: 8px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.project-foto:hover .project-text-hover {
  opacity: 1;
  visibility: visible;
}
.project-foto:hover:before {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.1);
}

.project-text-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: #FFAC56;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.project-text-hover h6 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.projects-industary {
  padding-top: 91px;
  background: #E7EFF1;
}
.projects-industary .row {
  margin-bottom: 16px;
}

.testimonials {
  background: #03B6E7;
  padding-top: 92px;
  padding-bottom: 77px;
}
.testimonials p {
  margin-bottom: 29px;
  line-height: 2;
  max-width: 908px;
  letter-spacing: 0.6px;
}
.testimonials .title {
  margin-bottom: 39px;
}
.testimonials .row {
  margin-bottom: 43px;
}
.testimonials .row img {
  margin-top: 8px;
}
.testimonials .line {
  height: 2px;
  width: 17px;
  background: #fff;
}

.testimonials-clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.client {
  display: flex;
  align-items: center;
  margin-right: 95px;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.client h6 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.client p {
  margin-bottom: 0;
}
.client:hover, .client.active {
  opacity: 1;
}

.client-foto {
  margin-right: 30px;
  flex-shrink: 0;
}

.carousel {
  display: flex;
  margin-right: -5px;
}
.carousel div {
  position: relative;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: border-color 0.3s ease;
  cursor: pointer;
}
.carousel div:hover, .carousel div.active {
  border-color: #15D32F;
}
.carousel div:hover::after, .carousel div.active::after {
  content: "·";
  position: absolute;
  top: -6px;
  left: 3px;
  color: #15D32F;
}

.blog {
  background-color: #E7EFF1;
  margin-bottom: 92px;
}

.blog-flex-right {
  display: flex;
  justify-content: flex-end;
}

.blogs-content {
  max-width: 585px;
  padding: 15px;
  padding-bottom: 27px;
  padding-right: 51px;
  margin-top: 77px;
}

.blog-header {
  display: flex;
  margin-bottom: 15px;
}
.blog-header .title {
  letter-spacing: -2.5px;
}

.blog-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
}
.blog-menu li a {
  display: inline-block;
  min-width: 138px;
  margin: 6px;
  padding: 6px;
  border: 2px solid #989FA0;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #606668;
  letter-spacing: -1px;
}
.blog-menu li a:hover, .blog-menu li a.active {
  border-color: #FFAC56;
}

.blog-text {
  margin-bottom: 60px;
}
.blog-text h6 {
  margin-bottom: 12px;
}
.blog-text h6 a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}
.blog-text h6 a:hover {
  opacity: 0.6;
}
.blog-text p {
  line-height: 2;
  letter-spacing: 0.7px;
}
.blog-text .date {
  margin-bottom: 6px;
  font-family: "Domine", serif;
  color: #343a3b;
  letter-spacing: 0.7px;
}
.blog-text .color {
  transition: all 0.3s ease;
}
.blog-text:hover .color {
  color: #16d428;
}

.blog-foto {
  margin-right: -15px;
  height: 100%;
  background-image: url(../img/blog-foto.png);
  background-size: cover;
}

.contact {
  margin-bottom: 63px;
}
.contact .title {
  margin-bottom: 18px;
}

.contact-infobox {
  display: flex;
  flex-wrap: wrap;
  padding: 34px;
  padding-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #E1EAEC;
}
.contact-infobox h6 {
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.3px;
}
.contact-infobox .info {
  font-size: 18px;
  font-family: "Domine", serif;
}

.contact-foto {
  margin-right: 40px;
  flex-shrink: 0;
}

.footer-main {
  background-color: #262829;
  padding-top: 88px;
}
.footer-main h6 {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.865;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}
.footer-main a {
  display: inline-block;
  padding: 7px 0;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  opacity: 0.65;
}
.footer-main a:hover {
  opacity: 1;
}
.footer-main form {
  display: flex;
  align-items: center;
  max-width: 514px;
  overflow: hidden;
  border-radius: 26px;
  background-color: rgba(0, 0, 0, 0.1);
}
.footer-main input[type=email] {
  min-width: 100px;
  padding: 18px;
  padding-left: 34px;
  flex-grow: 1;
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
}
.footer-main input[type=email]::placeholder {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.footer-main .row > div {
  margin-bottom: 30px;
}

.footer-main-inner {
  margin-bottom: 54px;
}
.footer-main-inner p {
  margin-bottom: 37px;
  max-width: 408px;
  line-height: 1.8;
  letter-spacing: 0.7px;
  opacity: 0.5;
}

.copyring {
  padding-top: 20px;
  padding-bottom: 55px;
  letter-spacing: 0.6px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-title {
  background-image: url(../img/main-title.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0 103px;
  margin-bottom: 89px;
}
.main-title h1 {
  position: relative;
  margin-left: 18px;
  letter-spacing: -1px;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.title-wrapper {
  position: relative;
}

.title-circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #FFAC55;
  z-index: 0;
}

.vision-mission {
  margin-bottom: 90px;
}
.vision-mission p {
  line-height: 2;
  letter-spacing: 0.7px;
}
.vision-mission .row {
  margin-bottom: 34px;
}
.vision-mission .row > div {
  margin-bottom: 30px;
}
.vision-mission .button-wrapper {
  margin-bottom: 93px;
}

.vision-foto {
  overflow: hidden;
  margin-bottom: 40px;
}
.vision-foto img {
  width: 100%;
  transition: transform 0.3s ease;
}
.vision-foto:hover img {
  transform: scale(1.1);
}

.vision-mission-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.management {
  margin-bottom: 93px;
}
.management h6 {
  margin-bottom: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.management h6:hover a {
  opacity: 0.6;
}
.management p {
  line-height: 2;
  margin-bottom: 41px;
}
.management .profession {
  margin-bottom: 16px;
  text-transform: uppercase;
  opacity: 0.6;
}
.management .title {
  margin-bottom: 36px;
}
.management .row {
  margin-bottom: 25px;
}
.management .row > div {
  margin-bottom: 30px;
}

.manager {
  display: flex;
}

.manager-foto {
  width: 114px;
  flex-shrink: 0;
  margin-right: 23px;
  margin-bottom: 10px;
}

.manager-text {
  padding: 4px;
}

.manager-link {
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 12px;
}
.manager-link a {
  display: inline-block;
  margin-right: 11px;
  letter-spacing: -0.5px;
}
.manager-link a:hover {
  opacity: 0.6;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #50abf1;
}

.google {
  color: #dc4b3f;
}

.industries {
  margin-bottom: 94px;
}
.industries h6 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.industries p {
  line-height: 2;
  letter-spacing: 1px;
}
.industries .title {
  margin-bottom: 32px;
}
.industries .row {
  margin-bottom: 20px;
}
.industries .row > div {
  margin-bottom: 77px;
}

.industry {
  display: flex;
  align-items: center;
}

.industries-icon {
  margin-right: 53px;
  padding: 37px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 993px) {
  .top-bar {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .banner {
    padding-top: 15px;
    margin-bottom: 50px;
  }

  .industary-title h4 {
    font-size: 24px;
  }
  .industary-title p {
    letter-spacing: 0;
  }

  .industary .row > div:nth-last-child(2) {
    border-bottom: 1px solid #00a6d3;
  }

  .main-title {
    margin-bottom: 50px;
    padding: 60px 0;
  }

  .about-page-text {
    margin-top: 0;
  }

  .infobox {
    padding-top: 130px;
    margin-bottom: 50px;
  }

  .projects {
    padding-bottom: 50px;
  }

  .projects-industary {
    padding-top: 50px;
  }

  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .blog {
    margin-bottom: 50px;
  }

  .blog-header {
    flex-wrap: wrap;
  }

  .blogs-content {
    max-width: none;
    padding: 15px;
    margin-top: 50px;
  }

  .contact {
    margin-bottom: 15px;
  }

  .footer-main {
    padding-top: 50px;
  }

  .footer-main-inner {
    margin-bottom: 20px;
  }

  .copyring {
    padding: 20px 0;
  }

  .vision-mission,
.vision-mission .button-wrapper,
.management,
.industries {
    margin-bottom: 50px;
  }

  .industries .row {
    margin-bottom: 0;
  }
  .industries .row > div {
    margin-bottom: 30px;
  }
}
@media (max-width: 785px) {
  .badge-wrapper {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .badge {
    display: none;
  }

  .infobox {
    padding-top: 50px;
  }

  .testimonials-clients {
    flex-wrap: wrap;
  }

  .client {
    margin-right: 15px;
  }

  .blog-menu {
    justify-content: center;
  }

  .button-full.btn-large {
    padding: 19px;
  }

  .manager-foto {
    width: 60px;
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .industry {
    flex-wrap: wrap;
  }

  .industries-icon {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
