@import '_reset.scss';
@import '_bootstrap-grid.scss';

// ------------------------------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------------------------------

$font-primary: 'Mulish', sans-serif;
$font-title: 'NotoSans', sans-serif;
$color-base: #333333;
$color-primary: #1169b6;

// ------------------------------------------------------------------------------------------------
// BASE
// ------------------------------------------------------------------------------------------------

body {
	font-family: $font-primary;
	line-height: 1.4;
	font-size: 16px;
	overflow-x: hidden;
	font-weight: 400;
	color: $color-base;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 20px;
	font-family: $font-title;
	font-weight: 500;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 13px;
}

p {
	margin-bottom: 20px;
	line-height: 1.6;
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
	color: $color-primary;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	transition: all 0.3s ease;

	&:hover{
		opacity: 0.7;
	}
	

	&.link-hover-primary {
		&:hover{
			color: $color-primary;
			opacity: 1;
		}
	}
}

ul,
ol {
	padding-left: 40px;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 80%;
}

u {
	text-decoration: underline;
}

input[type="text"], 
input[type="email"], 
input[type="tell"], 
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="time"],
select{
	height: 40px;
}

input[type="text"], 
input[type="email"], 
input[type="tell"], 
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="time"],
select,
textarea{
	width: 100%;
	font-family: inherit;
	font-size: 12px;
	padding: 0 20px;
	color: inherit;
	outline: none;
	border-radius: 5px;
	border: 1px solid rgba(33, 33, 33, 0.1);
	background-color: #ffffff;

	&::placeholder {
		color: inherit;
		opacity: 0.5;
	}
}

textarea {
	padding: 20px;
}
.button,
button,
input[type="button"],
input[type="submit"] {
	background: $color-primary;
	color: #fff;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease;
	cursor: pointer;

	// & a {
	// 	display: inline-block;
	// }

	&:hover {
		background-color: rgba($color: $color-primary, $alpha: 0.7);
		opacity: 1;
	}
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	background-color: #FFF;
	z-index: 1;
}

td, th {
	padding: 10px 20px;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	text-align: center;
}

// ------------------------------------------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------------------------------------------

@mixin block-absolute ($top, $right, $bottom, $left) {
	position: absolute;
	@if $top != none {top: $top;} 
	@if $right != none {right: $right;}
	@if $bottom != none {bottom: $bottom;}
	@if $left != none {left: $left;}
}

@mixin background ($url) {
	background-image: $url;
	background-size: cover;
	background-position: center;
}


// ------------------------------------------------------------------------------------------------
// COLOR SCHEME
// ------------------------------------------------------------------------------------------------

.color-scheme-white {
	color: #fff;

	h1,h2,h3,h4,h5,h6, input{
		color: #fff;
	}

	p, ul, span {
		color: rgba($color: #fff, $alpha: 0.8);
	}
}

// ------------------------------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------------------------------

.header-main {
	margin-bottom: 40px;
	font-size: 12px;

}

.top-bar {
	background-color: $color-primary;

	.header-row {	
		height: 40px;
	}
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.email,
	.tell {
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}

	.info, 
	.currency {
		border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
		margin-right: 15px;
		padding-right: 10px;
	}

	.currency,
	.languare {
		display: flex;
		align-items: center;
		cursor: pointer;

		i {
			margin-left: 5px;
		}
	}
}

.languare {

	img {
		width: 21px;
		margin-right: 3px;
	}
}

.header-general {
	font-weight: 500;

	.header-row {	
		height: 100px;
	}

	a {
		margin-right: 30px;
		display: flex;
		align-items: center;
		color: $color-base;

		&.account {
			font-size: 15px;
		}
	
		i {
			font-size: 20px;
			margin-right: 5px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.header-col-center {
		justify-content: center;
	}
}

.counter-wrapper {
	position: relative;

	.shop-bag & {
		margin-right: 15px;
	}
}

.counter {
	@include block-absolute(-10px, -10px, none, none);
	width: 14px;
	height: 15px;
	text-align: center;
	background: $color-primary;
	color: #fff;
	
	border-radius: 50%;
}

.logo-main {
	display: inline-block;
	flex-shrink: 0;
	max-height: 70px;
}

.header-col-left {
	display: flex;
	margin-right: 15px;
}

.header-col-center {
	display: flex;
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 15px;
}

.header-col-right {
	display: flex;
	margin-left: 15px;
}

.form-search {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 640px;
	width: 100%;

	input[type="text"] {
		padding: 0 150px 0 20px;
		height: 42px;
	}

	select {
		
		max-width: 150px;
		padding: 0 10px;
		border: none;
	}

	.select-wrapper {
		@include block-absolute(none, 57px, none, none);

		&::before {
			content: " ";
			@include block-absolute(50%, none, none, 0);
			height: 15px;
			width: 1px;
			transform: translateY(-50%);
			background: rgba($color: $color-base, $alpha: 0.05);
		}
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 42px;
		margin-left: 5px;
		font-size: 16px;
		padding: 7px 17px;
		
		i {
			font-weight: 500;
		}
	}
}

.header-link {
	display: flex;
	align-items: center;
}

.header-bottom {
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);

	.header-row {
		height: 60px;
	}

	.button-product-wrapper {
		
		a {
			opacity: 1;
			width: 42px;
		}

		.fa-plus {
			margin-left: 2px;
		}
	}
}

.menu-main {
	display: flex;
	margin-left: -23px;
	padding-left: 0;
	list-style: none;

	a {
		padding: 20px 13px;
		font-size: 16px;
		color: $color-base;	
	}

	li {
		margin-bottom: 0;
	}
}

.menu-border {
	position: relative;

	&::after {
		content: " ";
		@include block-absolute(none, 100%, -17px, 0);
		height: 3px;
		background-color: $color-primary;
		transition: all 0.3s ease;
	}

	&.active {

		&::after {
			right: 0;
		}
	}
}

.header-bottom-info {
	font-size: 16px;
}

.primary-color {
	color: $color-primary
}

.categories-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 19px 18px;
	font-size: 16px;

	i {
		color: #fff;
	}

	.fa-bars {	
		opacity: 1;
		margin-right: 5px;
	}
}

.menu-categories,
.menu-main {
	
	li {
		&:hover {
			> a {
				color: $color-primary;
			}

			.menu-border {

				&::after {
					right: 0;
				}
			}
		}
	}
}

.menu-categories {
	background: $color-primary;
	min-width: 280px;
	padding-left: 0;
	list-style: none;

	li {
		margin-bottom: 0;
	}
}

.menu-categories,
.menu-main {

	li {
		position: relative;

		&:hover,
		&.active-dropdown {
			> .menu-dropdown {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}
	}
}

.menu-dropdown {
	@include block-absolute(100%, none, none, 0);
	background: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	transition: all 0.4s ease;
	list-style: none;
	box-shadow: 0px 10px 11px 0px rgba(34, 60, 80, 0.2);
	transform: translateY(20px);
	
	li {
		margin-bottom: 0;
	}

	ul {
		padding-left: 0;
		list-style: none;
		margin-bottom: 40px;
		

		&:last-child {
			margin-bottom: 0;
		}
	}

	h5{
		font-weight: 700;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color-base;
		opacity: 0.8;
		padding: 0;
		font-size: 16px;
	}

	p {
		font-size: 16px;
		color: rgba($color: $color-base, $alpha: 0.4);
	}

	.menu-dropdown {
		top: 0;
		left: 100%;
		margin-left: 20px;
		transform: translate(40px, 0);

		&::after {
			content: " ";
			@include block-absolute(0, none, 0, 0);
			width: 20px;
			margin-left: -20px;
		}
	}

	&.menu-categories {
		right: 0;
		padding: 0px 20px;
		border-top: none;
		border: 1px solid rgba(16, 16, 16, 0.05);
		box-shadow: none;
	
		> li {
			max-height: 50px;
			border-bottom: 1px solid rgba(16, 16, 16, 0.05);
	
			span {
				img {
					margin-left: -20px;
				}
			}
			
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.button-burger {
	display: none;
	font-size: 20px;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid rgba($color: $color-base, $alpha: 0.5);

	i {
		margin-left: 0;
		opacity: 1;
		color: $color-base;
	}
}





@media (min-width: 1300px) {
	.container {
		width: 1330px;
		max-width: 100%;
	}
}
