@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamBook.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamBookItalic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamLightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham';
    src: url("../font-famile/GothamMediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}