@import '_reset.scss';
@import '_bootstrap-grid.scss';
@import '_font-face.scss';

////////////////////////
//Variables
///////////////////////
$font-primary: 'Metropolis', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-text2: 'Poppins', sans-serif;
$font-sub-title: 'Alegreya', serif;

///////////////////////

///////////////////////
//base
//////////////////////
body {
	font-family: $font-primary;
	line-height: 1.4;
	font-size: 14px;
	overflow-x: hidden;
	font-weight: 400;
	color: #000;
	background-color: #fbfbfb;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
	font-family: $font-text;
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: #000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

//////////////////////////


//////////////////////////
//Mixins
/////////////////////////
@mixin block-absolute ($top, $right, $bottom, $left) {
	position: absolute;
	@if $top != none {top: $top;} 
	@if $right != none {right: $right;}
	@if $bottom != none {bottom: $bottom;}
	@if $left != none {left: $left;}
}

@mixin background ($url) {
	background-image: $url;
	background-size: cover;
	background-position: center;
}

///////////////////////////// 
//header nav-bar
////////////////////////////

.nav-bar {
	margin-bottom: 25px;
	font-family: $font-text2;
}

.top-menu-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 17px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cfcfcf;

}

.top-menu-text {
	display: flex;

	.info-top {
		margin-right: 20px;
	}

	.subscribe {
		margin: 0 10px;
		color: #ed1c24;
		font-weight: 500;
	}

	.sign {
		margin-left: 10px;
		font-weight: 500;
	}
}

.icon-top-menu {
	a {
		padding: 0 5px;
		margin: 0 5px;
	}
}

.general-menu-inner {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 24px;

	form {
		max-width: 740px;
		max-height: 60px;
		width: 70%;
		border: 2px solid #e6e6e6;
		background-color: #fff;
	}

	input[type=text] {
		width: 88%;;
		padding: 15px;
		font-size: 18px;
		font-family: inherit;
		outline: none;
		border: none;
		background: transparent;
	}

	.logo-header {
		margin-right: 10px;
		flex-shrink: 0; 

		img {
			max-height: 59px;
			margin-top: 4px;
		}
	}

}

.burger {
	display: none;
	padding: 20px;
	font-size: 20px;
	background-color: #ed1c24;
	color: #fff;
}

.btn-search {
	background: transparent;
	width: 10%;

	i {
		font-size: 25px;
	}
}

.bottom-menu {
	background-color: #fff;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);
}


.menu-bar {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 10px;

	li {
		position: relative;

		a {
			display: block;
			padding: 10px 20px 10px 10px;
			font-weight: 600;
			text-transform: uppercase;
			transition: color 0.3s ease;
		}

		&:not(:last-child) {
			a {
				border-right: 1px solid #cfcfcf;
			}
		}

		&:hover {
			> .dropdown {
				opacity: 1;
				visibility: visible;
				transform: scale(1);
			}

			> a {
				color: #ed1c24;
			}
		}
	}

	.has-dropdown {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	

	.home-link {
		display: flex;
		align-items: center;
		align-items: flex-end;
	
		i {
			font-size: 22px;
			margin-right: 8px;
		}
	}
}

.dropdown {
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #000;
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	transform-origin: top;
	transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease ;

	.dropdown {
		top: 0;
		left: 100%;
		transform-origin: 0 0;
	}
}



.link-hover {
	transition: color 0.3s ease;
}

.link-hover:hover,
.active{
	color: #ed1c24;
}


//////////////////////////////////
//highlights
////////////////////////////////// 

.highlights {
	margin-bottom: 10px;
}

.highlights-wrapper {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;

	img {
		width: 100%;
		transition: transform 0.3s ease;
	}

	&:hover {

		img {
			transform: scale(1.1)
		}

		.highlights-inner {
			background-color: rgba(0, 0, 0, 0.3)
		}
	}
}

.highlights-inner {
	@include block-absolute(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 15px 20px;
	color: #fff;
	transition: background 0.3s ease;

	h5 {
		font-size: 18px;
		font-weight: 600;
		font-family: $font-text2;
	}

	.date {
		font-family: $font-sub-title;
		font-size: 16px;
	}

}

.comments {
	margin-left: 15px;
}

/////////////////////////////// 
//info-news
////////////////////////////// 

.info-news {
	margin-bottom: 10px;

	img {
		width: 100%;
		transition: transform 0.3s ease;
	}
}

.title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #f4f4f4;
	border-left: 5px solid #ed1c24;
	background-color: #fff;
	font-weight: 600;
	font-size: 16px;

	h2 {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.tag-menu {
		display: flex;

		a {
			display: inline-block;
			padding: 0 5px;
			margin: 0 10px;
		}
	}
}


.information-wrapper {
	margin-bottom: 30px;
	background-color: #fff;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);
    line-height: 1.6;


	h5 {
		font-size: 20px;
		font-weight: 600;
	}

	.info {
		margin-bottom: 20px;
	}

	p {
		color: #8c8c8c;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.info {
	font-family: $font-sub-title;
	color: #8c8c8c;
}

.information-foto {
	overflow: hidden;
}

.information-text {
	padding: 30px;
}

.news {
	background-color: #fff;
	padding: 20px 0;
	margin-bottom: 30px;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);
}

.new {
	display: flex;
	padding: 10px 20px;
	border-bottom: 1px solid #EDEDED;

	&:last-child {
		border-bottom: none;
	}
}

.new-foto {
	display: flex;
	align-items: center;
    flex-shrink: 0;
    max-width: 90px;
    width: 30%;
}

.new-text {
	padding: 10px 10px 0;

	h6 {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
	}

	.info {
		 font-size: 16px;
	}
}

//////////////////////////////////// 
// product-top
//////////////////////////////////// 

.product-top {
	margin-bottom: 10px;

	.row > div:last-child {
		.product {
			border-right: none;
		}
	}

	.news {
		padding: 17px 0;
	}

	.new-text {
		padding: 10px;
	}
}

.product {
	margin-bottom: 30px;
	border-right: 1px solid #E6E6E6;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);

	img {
		width: 100%;
		transition: transform 0.3s ease;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}
	
.product-foto {
	overflow: hidden;
}

.product-text {
	padding: 10px 30px 0;

	h5 {
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 18px;
	}
	

	.info {
		margin-bottom: 5px;
		font-size: 16px;
	}

	.new-wrapper {
		padding: 14px 0;
	}

	.color-red {
		color: #FF2931;
	}
}


.overall {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}

.rating {
	position: relative;
	max-width: 90px;
	width: 100%;
	height: 25px;
	background-color: #dedede;

	.numbers-rating {
		@include block-absolute(0, none, 0, 0);
		text-align: center;
		align-items: center;
		width: 60%;
		background-color: #ed1c24;
		color: #fff;
		line-height: 2;
	}
}

.star {
	color: #FFCB00;
}

///////////////////////////////// 
//about-contributors
///////////////////////////////////// 

.about-contributors {
	margin-bottom: 10px;
}

.about-text {
	margin-bottom: 30px;
	padding: 21px;
	background-color: #fff;
	color: #8e8e8e;
	font-size: 16px;
	line-height: 1.8;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);

	p {
		font-family: 'MyriadPro';
	}
}

/////////////////////////////////// 
//interested
//////////////////////////////////// 

.interested {
	margin-bottom: 30px;

	img {
		width: 100%;
	}

	.row > div {
		background-color: #fff;

		&:not(:last-child){
			.interested-wrapper {
				border-right: 1px solid #E6E6E6;
			}
		}
	}
}
.interested-wrapper {
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 30px;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);

	img {
		min-height: 230px;
		transition: transform 0.3s ease;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.interested-foto {
	overflow: hidden;
	margin-bottom: 20px;
}

.interested-text {
	padding-bottom: 15px;

	h5 {
		margin-bottom: 10px;

		a {
			font-size: 19px;
			font-weight: 600;
		}
	}

	p {
		color: #6a6a6a;
		font-family: $font-primary;
		font-weight: 500;
	}
}

////////////////////////////////// 
// footer
////////////////////////////////// 

.top-footer-main {
	padding: 70px 0;
	box-shadow: 0 -10px 7px rgba(33, 30, 31, 0.07);

	p {
		max-width: 1059px;
		margin: 0 auto;
		font-family: "MyriadPro";
		font-size: 16px;
		color: #848484;
		text-align: center;
		line-height: 1.8;
	}
}

.general-footer-main {
	padding: 50px 0 45px;
	background-color: #1A2121;
	color: #999f9f;

	h5 {
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		margin-left: 5px;
	}

	h6 {
		a{
			color: #fff;
		}
	}

	p {    
		font-weight: 600;
		line-height: 1.8;
	}

	form {
		max-width: 380px;
		border-bottom: 1px solid rgba(168, 175, 175, 0.5);

		button {
			width: 8%;
			font-size: 20px;
			background: transparent;
			color: #a8afaf;
			outline: none;
			border: none;
		}

	}

	input[type=text] {
		width: 90%;
		padding: 15px;
		font-weight: 600;
		border: none;
		outline: none;
		background: transparent;
		color: #a8afaf;
		
	}

	.new {
		border-bottom: none;
		padding: 10px 0px;
	}

	.row > div {
		margin-bottom: 30px;
	}
}

.footer-social {
	display: flex;
    justify-content: space-between;
	overflow-y: auto;
    white-space: nowrap;
	margin-bottom: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #424A4A;
	font-weight: 600;

	i {
		margin-right: 8px;
	}

	a {
		display: block;
		padding: 10px;
		color: #999f9f;
	}
}

.logo-link {
	display: block;
	margin-bottom: 20px;
}

.footer-list {
	
	a {
		display: block;
		padding: 5px;
		margin: 5px;
		color: #abb3b3;
		
	}
}

.copyring {
	padding: 10px 0;
	background-color: #0F1212;
	color: #676969;
	font-family: $font-text2;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	span {
		margin: 10px 0;
	}
}

.copyring-link {
	display: flex;
	flex-wrap: wrap;
	font-weight: 500;

	a {
		display: block;
		padding: 10px;
		margin: 0 10px;
		color: #676969;
	}
}

///////////////////////////////// 
//product-information
///////////////////////////////// 
.product-information {
	margin-bottom: 10px;

	p {
		font-weight: 300;
		line-height: 1.6;
		font-size: 16px;
		color: #8c8c8c;
		letter-spacing: 0.5px;
	}

	img {
		width: 100%;
	}

}

.description {
	padding: 25px 25px 20px;
	margin-bottom: 30px;
	border-top: 5px solid #ed1c24;
	background-color: #fff;
	box-shadow: 0 10px 7px rgb(33 30 31 / 7%);

	h3 {
		font-size: 22px;
		font-weight: 600;
		font-family: $font-text2;
	}
}

.description-link {
	display: block;
    text-align: center;
	font-family: $font-sub-title;
	font-size: 16px;
	color: #ed1c24;
	transition: color 0.3s ease;

	&:hover {
		color: #b1191e;
	}
}

.article-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	font-family: $font-text2;

	h1 {
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 0;
	}

	.author {
		flex-shrink: 0;
		font-weight: 500;
		color: #90a4ae;

		&:hover {
			color: #ed1c24;
		}
	}
}

.big-foto {
	margin-bottom: 20px;
}

.text-consulting {
	margin-bottom: 20px;

	img {
		max-width: 265px;
		float: left;
		margin-right: 15px;
		margin-bottom: 10px;
	}
}

.servises  {
	display: flex;
    align-items: center;
    justify-content: space-between;
	font-weight: 600;
	font-family: $font-text;
	margin-bottom: 20px;

	ul {
		display: inline-block;
	}

	li {
		position: relative;
		margin: 7px 0;
		margin-left: 8px;

		&::after {
			content: " - ";
			position: absolute;
			left: -8px;
			color: #ed1c24;
		}
	}

	img {
		max-width: 430px;
	}

}

.side-bar {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1200px) {
	.container {
	  width: 1200px;
	  max-width: 100%;
	}
}

@media (max-width: 996px) {
	.burger {
		display: block;
	}

	.bottom-menu,
	.top-menu-inner,
	.general-menu-inner form {
		display: none;
	}

	.general-menu {
		box-shadow: 0 10px 7px rgb(33 30 31 / 7%);
	}

	.servises {
		flex-wrap: wrap;
	}

	.text-consulting img {
		max-width: none; 
		float: none;
	}
}

@media (max-width: 586px) {
	.article-title {
		flex-wrap: wrap;

		h1 {
			margin-bottom: 10px;
		}
	}
} 