html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

caption, th, td {
  vertical-align: middle;
  text-align: left;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a, button, input {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button {
  overflow: visible;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@-ms-viewport {
  width: device-width;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.333333%;
}

.pull-2 {
  right: 16.666667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.333333%;
}

.pull-5 {
  right: 41.666667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.333333%;
}

.pull-8 {
  right: 66.666667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.333333%;
}

.pull-11 {
  right: 91.666667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.333333%;
}

.push-2 {
  left: 16.666667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.333333%;
}

.push-5 {
  left: 41.666667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.333333%;
}

.push-8 {
  left: 66.666667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.333333%;
}

.push-11 {
  left: 91.666667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-sm-0 {
    right: auto;
  }

  .pull-sm-1 {
    right: 8.333333%;
  }

  .pull-sm-2 {
    right: 16.666667%;
  }

  .pull-sm-3 {
    right: 25%;
  }

  .pull-sm-4 {
    right: 33.333333%;
  }

  .pull-sm-5 {
    right: 41.666667%;
  }

  .pull-sm-6 {
    right: 50%;
  }

  .pull-sm-7 {
    right: 58.333333%;
  }

  .pull-sm-8 {
    right: 66.666667%;
  }

  .pull-sm-9 {
    right: 75%;
  }

  .pull-sm-10 {
    right: 83.333333%;
  }

  .pull-sm-11 {
    right: 91.666667%;
  }

  .pull-sm-12 {
    right: 100%;
  }

  .push-sm-0 {
    left: auto;
  }

  .push-sm-1 {
    left: 8.333333%;
  }

  .push-sm-2 {
    left: 16.666667%;
  }

  .push-sm-3 {
    left: 25%;
  }

  .push-sm-4 {
    left: 33.333333%;
  }

  .push-sm-5 {
    left: 41.666667%;
  }

  .push-sm-6 {
    left: 50%;
  }

  .push-sm-7 {
    left: 58.333333%;
  }

  .push-sm-8 {
    left: 66.666667%;
  }

  .push-sm-9 {
    left: 75%;
  }

  .push-sm-10 {
    left: 83.333333%;
  }

  .push-sm-11 {
    left: 91.666667%;
  }

  .push-sm-12 {
    left: 100%;
  }

  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.333333%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.333333%;
  }

  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-md-0 {
    right: auto;
  }

  .pull-md-1 {
    right: 8.333333%;
  }

  .pull-md-2 {
    right: 16.666667%;
  }

  .pull-md-3 {
    right: 25%;
  }

  .pull-md-4 {
    right: 33.333333%;
  }

  .pull-md-5 {
    right: 41.666667%;
  }

  .pull-md-6 {
    right: 50%;
  }

  .pull-md-7 {
    right: 58.333333%;
  }

  .pull-md-8 {
    right: 66.666667%;
  }

  .pull-md-9 {
    right: 75%;
  }

  .pull-md-10 {
    right: 83.333333%;
  }

  .pull-md-11 {
    right: 91.666667%;
  }

  .pull-md-12 {
    right: 100%;
  }

  .push-md-0 {
    left: auto;
  }

  .push-md-1 {
    left: 8.333333%;
  }

  .push-md-2 {
    left: 16.666667%;
  }

  .push-md-3 {
    left: 25%;
  }

  .push-md-4 {
    left: 33.333333%;
  }

  .push-md-5 {
    left: 41.666667%;
  }

  .push-md-6 {
    left: 50%;
  }

  .push-md-7 {
    left: 58.333333%;
  }

  .push-md-8 {
    left: 66.666667%;
  }

  .push-md-9 {
    left: 75%;
  }

  .push-md-10 {
    left: 83.333333%;
  }

  .push-md-11 {
    left: 91.666667%;
  }

  .push-md-12 {
    left: 100%;
  }

  .offset-md-0 {
    margin-left: 0%;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-lg-0 {
    right: auto;
  }

  .pull-lg-1 {
    right: 8.333333%;
  }

  .pull-lg-2 {
    right: 16.666667%;
  }

  .pull-lg-3 {
    right: 25%;
  }

  .pull-lg-4 {
    right: 33.333333%;
  }

  .pull-lg-5 {
    right: 41.666667%;
  }

  .pull-lg-6 {
    right: 50%;
  }

  .pull-lg-7 {
    right: 58.333333%;
  }

  .pull-lg-8 {
    right: 66.666667%;
  }

  .pull-lg-9 {
    right: 75%;
  }

  .pull-lg-10 {
    right: 83.333333%;
  }

  .pull-lg-11 {
    right: 91.666667%;
  }

  .pull-lg-12 {
    right: 100%;
  }

  .push-lg-0 {
    left: auto;
  }

  .push-lg-1 {
    left: 8.333333%;
  }

  .push-lg-2 {
    left: 16.666667%;
  }

  .push-lg-3 {
    left: 25%;
  }

  .push-lg-4 {
    left: 33.333333%;
  }

  .push-lg-5 {
    left: 41.666667%;
  }

  .push-lg-6 {
    left: 50%;
  }

  .push-lg-7 {
    left: 58.333333%;
  }

  .push-lg-8 {
    left: 66.666667%;
  }

  .push-lg-9 {
    left: 75%;
  }

  .push-lg-10 {
    left: 83.333333%;
  }

  .push-lg-11 {
    left: 91.666667%;
  }

  .push-lg-12 {
    left: 100%;
  }

  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pull-xl-0 {
    right: auto;
  }

  .pull-xl-1 {
    right: 8.333333%;
  }

  .pull-xl-2 {
    right: 16.666667%;
  }

  .pull-xl-3 {
    right: 25%;
  }

  .pull-xl-4 {
    right: 33.333333%;
  }

  .pull-xl-5 {
    right: 41.666667%;
  }

  .pull-xl-6 {
    right: 50%;
  }

  .pull-xl-7 {
    right: 58.333333%;
  }

  .pull-xl-8 {
    right: 66.666667%;
  }

  .pull-xl-9 {
    right: 75%;
  }

  .pull-xl-10 {
    right: 83.333333%;
  }

  .pull-xl-11 {
    right: 91.666667%;
  }

  .pull-xl-12 {
    right: 100%;
  }

  .push-xl-0 {
    left: auto;
  }

  .push-xl-1 {
    left: 8.333333%;
  }

  .push-xl-2 {
    left: 16.666667%;
  }

  .push-xl-3 {
    left: 25%;
  }

  .push-xl-4 {
    left: 33.333333%;
  }

  .push-xl-5 {
    left: 41.666667%;
  }

  .push-xl-6 {
    left: 50%;
  }

  .push-xl-7 {
    left: 58.333333%;
  }

  .push-xl-8 {
    left: 66.666667%;
  }

  .push-xl-9 {
    left: 75%;
  }

  .push-xl-10 {
    left: 83.333333%;
  }

  .push-xl-11 {
    left: 91.666667%;
  }

  .push-xl-12 {
    left: 100%;
  }

  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.333333%;
  }

  .offset-xl-2 {
    margin-left: 16.666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.333333%;
  }

  .offset-xl-5 {
    margin-left: 41.666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.333333%;
  }

  .offset-xl-8 {
    margin-left: 66.666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.333333%;
  }

  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
/*# sourceMappingURL=bootstrap-grid.css.map */
body {
  font-family: "Hind", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  overflow-x: hidden;
  font-weight: 400;
  color: rgba(16, 16, 16, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 13px;
}

p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #da8a67;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  transition: all 0.3s ease;
}
a.link-hover:hover {
  opacity: 0.6;
}
a.link-hover-primary:hover {
  color: #da8a67;
}

li a {
  display: block;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
}

u {
  text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=tell],
input[type=number],
input[type=password],
input[type=tel],
input[type=url],
input[type=date],
input[type=time],
select,
textarea {
  width: 100%;
  height: 40px;
  font-family: inherit;
  font-size: 13px;
  color: inherit;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tell]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=url]::placeholder,
input[type=date]::placeholder,
input[type=time]::placeholder,
select::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

select {
  padding: 8px 0;
}

textarea {
  height: auto;
  overflow: hidden;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  background-color: #FFF;
  z-index: 1;
}

td, th {
  padding: 10px 20px;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  text-align: center;
}

button,
.button,
input[type=button],
input[type=submit] {
  background: #333333;
  color: #fff;
  padding: 10px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.color-schema-white {
  color: #fff;
}
.color-schema-white h1, .color-schema-white h2, .color-schema-white h3, .color-schema-white h4, .color-schema-white h5, .color-schema-white h6, .color-schema-white input {
  color: #fff;
}
.color-schema-white p, .color-schema-white ul, .color-schema-white span {
  color: rgba(255, 255, 255, 0.8);
}

.header-main {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 500;
}

.top-bar {
  background-color: #da8a67;
}
.top-bar .header-row {
  height: 40px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-row i {
  opacity: 0.7;
  margin-left: 5px;
}
.header-row .email,
.header-row .tell {
  margin-right: 30px;
}
.header-row .info,
.header-row .currency {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 8px;
  padding-right: 10px;
}
.header-row .currency,
.header-row .languare {
  cursor: pointer;
}

.languare {
  font-family: "Archivo", sans-serif;
}
.languare img {
  width: 21px;
  margin-right: 3px;
}

.header-general {
  padding: 20px 0px;
}
.header-general .header-row {
  height: 60px;
}
.header-general a {
  margin-right: 16px;
  display: flex;
  align-items: center;
  color: rgba(16, 16, 16, 0.8);
}
.header-general a i {
  font-size: 20px;
  margin-right: 5px;
}
.header-general a span {
  opacity: 0.5;
  margin-left: 4px;
}
.header-general a:last-child {
  margin-right: 0;
}
.header-general .header-col-center {
  justify-content: center;
}

.logo-main {
  display: inline-block;
  flex-shrink: 0;
  max-height: 70px;
}

.header-col-left {
  display: flex;
  margin-right: 15px;
}

.header-col-center {
  display: flex;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.header-col-right {
  display: flex;
  margin-left: 15px;
}

.form-search {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 580px;
  width: 100%;
}
.form-search input[type=text] {
  padding: 0 150px 0 35px;
}
.form-search select {
  position: absolute;
  right: 1px;
  max-width: 150px;
  padding: 0 10px;
  height: 38px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.form-search button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  font-size: 16px;
  padding: 7px;
  color: inherit;
}

.header-link {
  display: flex;
  align-items: center;
}

.header-bottom {
  border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}
.header-bottom .header-row {
  height: 60px;
}

.menu-main {
  display: flex;
  margin-left: -23px;
}
.menu-main a {
  padding: 20px 13px;
  font-size: 16px;
  color: rgba(16, 16, 16, 0.8);
}
.menu-main span {
  position: relative;
}
.menu-main span::after {
  content: " ";
  position: absolute;
  right: 100%;
  bottom: -17px;
  left: 0;
  height: 3px;
  background-color: #da8a67;
  transition: all 0.3s ease;
}
.menu-main span.active::after {
  right: 0;
}

.menu-categories-dropdown li:hover a,
.menu-main li:hover a {
  color: #da8a67;
}
.menu-categories-dropdown li:hover span::after,
.menu-main li:hover span::after {
  right: 0;
}

.menu-categories {
  position: relative;
  background: #da8a67;
  min-width: 280px;
}

.menu-categories-hover:hover .menu-categories-dropdown, .menu-categories-hover.active .menu-categories-dropdown {
  opacity: 1;
  visibility: visible;
}

.categories-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 18px;
  font-size: 16px;
}
.categories-main .fa-bars {
  opacity: 1;
  margin-right: 5px;
}

.header-bottom-info {
  font-size: 16px;
  font-weight: 400;
}

.primary-color {
  color: #da8a67;
}

.menu-categories-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 0px 20px;
  border: 1px solid rgba(16, 16, 16, 0.05);
  background: #fff;
  border-top: none;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.menu-categories-dropdown li {
  max-height: 50px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}
.menu-categories-dropdown li img {
  margin-left: -20px;
}
.menu-categories-dropdown li:last-child {
  border-bottom: 0;
}
.menu-categories-dropdown a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(16, 16, 16, 0.8);
  opacity: 0.8;
  padding: 0;
  font-size: 16px;
}

.button-burger {
  display: none;
  font-size: 20px;
}
.button-burger i {
  margin-left: 0;
  opacity: 1;
}

.slider {
  margin-bottom: 90px;
  min-height: 500px;
}

.slider-foto {
  position: relative;
}

.slider-foto-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 37px;
}

.slider-numbers {
  position: absolute;
  bottom: 25px;
  left: 40px;
}
.slider-numbers span {
  display: inline-block;
  opacity: 0.3;
  padding: 0 5px;
  font-family: "Spartan", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
}
.slider-numbers span:hover, .slider-numbers span.active {
  opacity: 0.7;
  font-size: 20px;
  padding: 0 4px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 10px 27px;
  font-weight: 600;
  color: inherit;
}
.button.button-while {
  background: #fff;
  color: rgba(16, 16, 16, 0.8);
  margin-right: 20px;
}
.button.button-while:hover {
  background: #b3b3b3;
}
.button.chech-product {
  padding: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #A6B6A9;
}
.button.chech-product:hover {
  background-color: #8d998f;
}
.button.chech-product-red {
  background-color: #D55860;
}
.button.chech-product-red:hover {
  background-color: #aa4349;
}
.button.button-product {
  background: #fff;
  padding: 13px;
  max-height: 42px;
}
.button.button-product:hover {
  color: #da8a67;
}
.button.button-medium {
  background: #da8a67;
  color: #fff;
  padding: 9px 17px;
}
.button.button-medium:hover {
  background: #a36950;
}
.button.button-border {
  background: transparent;
  border: 2px solid rgba(16, 16, 16, 0.05);
  padding: 8px 30px;
  font-weight: 600;
}
.button.button-border:hover {
  background: rgba(16, 16, 16, 0.05);
}
.button:hover {
  background: #414040;
}

.btn-text-span {
  display: none;
}

.btn-plus {
  display: inline-block;
  font-size: 25px;
  margin-top: -5px;
}

.product-main {
  margin-bottom: 30px;
}
.product-main .title {
  margin-bottom: 0;
}
.product-main .row > [class*=col-] {
  margin-bottom: 50px;
}

.product-main-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.title-wrapper {
  margin-right: 15px;
}

.product-menu {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  overflow-y: hidden;
}
.product-menu li:hover a, .product-menu li.active a {
  border-color: #da8a67;
  opacity: 0.9;
}
.product-menu a {
  padding: 10px 22px;
  color: rgba(16, 16, 16, 0.8);
  margin: 10px 22px;
  padding: 0px;
  border-bottom: 2px solid transparent;
  opacity: 0.7;
  font-weight: 500;
}

.sub-title {
  color: #da8a67;
  font-family: "Hind", sans-serif;
  margin-bottom: 10px;
}

.link-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-box img {
  width: 100%;
}
.product-box .price {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  color: #da8a67;
  font-size: 15px;
}
.product-box:hover .product-foto-hover {
  opacity: 1;
}

.product-foto {
  position: relative;
  margin-bottom: 20px;
}
.product-foto:last-child {
  margin-bottom: 0;
}

.product-foto-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.button-product-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.product-text-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.product-text-inner h6 {
  margin-bottom: 0;
}
.product-text-inner a {
  color: #101010;
}

.product-foto-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
}

.check-product {
  display: flex;
}
.check-product div {
  height: 15px;
  width: 15px;
  background: #2A767A;
  cursor: pointer;
}
.check-product div:not(:last-child) {
  margin-right: 5px;
}
.check-product div.pink {
  background: #FFC7C7;
}
.check-product div.gray {
  background: #EEEEEE;
}
.check-product div.black {
  background: #1A1A1C;
}
.check-product div.blue {
  background: #31397D;
}
.check-product div.light-blue {
  background: #CEDADE;
}
.check-product div.light {
  background: #F2F2F2;
}

.link-block-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.best-category {
  background-color: rgba(218, 138, 103, 0.1);
  padding: 60px 0;
  margin-bottom: 80px;
}
.best-category p {
  max-width: 400px;
  margin-bottom: 35px;
}
.best-category .sub-title {
  font-size: 16px;
  font-weight: 400;
}
.best-category .row > [class*=col-] {
  margin-bottom: 30px;
}

.category-foto {
  position: relative;
}
.category-foto img {
  width: 100%;
}

.category-banner {
  position: absolute;
  right: 0;
  bottom: -2px;
  left: -2px;
  max-width: 280px;
  padding: 30px;
  background: #fff;
}
.category-banner .sub-title {
  margin-bottom: 25px;
}
.category-banner::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(218, 138, 103, 0.1);
  z-index: 0;
}

.category-banner-content {
  z-index: 1;
  position: relative;
}

.spacing-30 {
  margin-bottom: -30px;
}

.promotions {
  margin-bottom: 50px;
}
.promotions .row > [class*=col-] {
  margin-bottom: 30px;
}

.block-title-center {
  text-align: center;
  margin-bottom: 35px;
}
.block-title-center p {
  margin: 0 auto;
  max-width: 400px;
}
.block-title-center .title {
  margin-bottom: 10px;
}

.promotions-row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 60px;
}

.col-promotions {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.col-promotions .button-product {
  padding: 7px;
  max-height: 30px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 80px;
  background-color: rgba(218, 138, 103, 0.1);
}
.customers .row > [class*=col-] {
  margin-bottom: 30px;
}

.testimonial-wrapper {
  background-color: #fff;
  padding: 45px 30px;
  line-height: 1.6;
}

.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.testimonial:last-child {
  margin-bottom: 0;
}

.testimonial-foto {
  border-radius: 50%;
  overflow: hidden;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.testimonial-about h5 {
  margin-bottom: 8px;
}
.testimonial-about h6 {
  margin-bottom: 0;
}

.customers-arrow-wrapper {
  position: relative;
}

.customers-arrow {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  opacity: 0.2;
  background: transparent;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.customers-arrow:hover {
  opacity: 0.6;
}

.arrow-left {
  left: -4%;
}

.arrow-right {
  right: -4%;
}

.articles {
  margin-bottom: 60px;
  text-align: center;
}
.articles img {
  width: 100%;
}
.articles .row > [class*=col-] {
  margin-bottom: 30px;
}

.articles-category-foto {
  position: relative;
  margin-bottom: 14px;
}

.banner-category {
  position: absolute;
  right: 50%;
  bottom: 0;
  padding: 10px 20px;
  background: #fff;
  transform: translate(50%, 50%);
  font-size: 13px;
  font-weight: 500;
}
.banner-category:hover {
  background: #e7e6e6;
}

.banner-play {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 7px;
  color: #fff;
  background-color: #da8a67;
}

.articles-category-text {
  padding: 20px;
  line-height: 1.8;
}
.articles-category-text h5 {
  margin-bottom: 10px;
}
.articles-category-text a {
  font-weight: 600;
  color: rgba(16, 16, 16, 0.8);
}
.articles-category-text a i {
  margin-left: 5px;
}

.articles-category-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgba(16, 16, 16, 0.5);
  font-size: 13px;
  margin-bottom: 25px;
}
.articles-category-about .author-name {
  color: #101010;
}

.spacing-right {
  margin-right: 5px;
}

.articles-category-author {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.instagram-foto {
  position: relative;
}
.instagram-foto:hover .instagram-info {
  opacity: 1;
}

.instagram-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 13%;
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s ease;
}
.instagram-info i {
  margin-right: 5px;
}
.instagram-info span {
  z-index: 1;
}
.instagram-info::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.instagram-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.instagram-text i {
  font-size: 20px;
  color: #da8a67;
  margin-bottom: 10px;
}
.instagram-text p {
  max-width: 200px;
  margin-bottom: 10px;
}

.instagram-link {
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(16, 16, 16, 0.8);
  margin-bottom: 10px;
}

.spacing-bottom-65 {
  margin-bottom: 65px;
}

.subscribe {
  margin-bottom: 40px;
}

.subscribe-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(16, 16, 16, 0.05);
  border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}

.subscribe-text {
  display: flex;
  align-items: start;
  margin-bottom: 30px;
}
.subscribe-text img {
  margin-right: 15px;
}
.subscribe-text h2 {
  margin-bottom: 15px;
}
.subscribe-text h6 {
  margin-bottom: 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 30px;
}
.subscribe-form input[type=text] {
  margin-right: 20px;
  max-width: 350px;
  padding: 0 20px;
}
.subscribe-form .button {
  color: #fff;
}

.footer-general a {
  font-size: 13px;
  color: rgba(16, 16, 16, 0.8);
  opacity: 0.7;
}
.footer-general i {
  font-size: 16px;
}
.footer-general li {
  margin-bottom: 3px;
}
.footer-general p,
.footer-general .address {
  opacity: 0.7;
  margin-bottom: 30px;
}
.footer-general .logo-main {
  margin-bottom: 30px;
}
.footer-general .tell {
  font-family: "Spartan", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-link {
  padding-top: 20px;
}

.footer-about-us {
  padding-top: 10px;
}

.footer-about-us a {
  padding: 5px;
}

.footer-general-inner {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}

.copyring {
  padding: 20px 0;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  opacity: 0.4;
}

@media (min-width: 1200px) {
  .container {
    width: 1210px;
    max-width: 100%;
  }

  .btn-text-span {
    display: inline-block;
  }

  .btn-plus {
    display: none;
  }

  .button.product-big {
    position: relative;
    min-width: 120px;
    padding: 12px 5px;
    font-size: 13px;
    text-align: center;
    background: #fff;
  }
  .col-promotions .button.product-big {
    min-width: 100px;
    padding: 6px 5px;
  }
  .col-promotions .button.product-big::after {
    right: 5px;
  }
  .button.product-big::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .button.product-big:hover {
    padding-right: 15px;
  }
  .button.product-big:hover::after {
    opacity: 1;
  }

  .subscribe-form {
    justify-content: flex-end;
  }
}
@media (max-width: 1200px) {
  .menu-main a {
    padding: 20px 7px;
  }
}
@media (max-width: 993px) {
  h1 {
    font-size: 36px;
  }

  .top-bar {
    display: none;
  }

  .header-bottom {
    display: none;
  }

  .form-search {
    display: none;
  }

  .header-link {
    display: none;
  }

  .header-general {
    border-bottom: 1px solid rgba(16, 16, 16, 0.05);
  }

  .button-burger {
    display: block;
  }

  .slider {
    min-height: auto;
    margin-bottom: 50px;
  }

  .slider-foto-inner {
    padding: 10px;
  }

  .promotions-row {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .product-main .row > [class*=col-] {
    margin-bottom: 30px;
  }

  .best-category {
    margin-bottom: 60px;
  }

  .customers {
    margin-bottom: 60px;
  }

  .spacing-bottom-65 {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .slider-foto-inner h1 {
    font-size: 25px;
  }
  .slider-foto-inner p {
    display: none;
  }

  .button {
    padding: 5px 10px;
  }
}
@media (max-width: 576px) {
  .slider-foto-inner h1 {
    font-size: 25px;
  }

  .slider-numbers {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
