@import '_reset.scss';
@import '_bootstrap-grid.scss';

// ------------------------------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------------------------------

$font-primary: 'Montserrat', sans-serif;
$font-text: 'Domine', serif;
$font-primary-2: 'Lato', sans-serif;
$color-base: #838b8c;
$color-title: #343a3b;

//$colol-title: #31411c;


// ------------------------------------------------------------------------------------------------
// BASE
// ------------------------------------------------------------------------------------------------

body {
	font-family: $font-primary;
	line-height: 1.4;
	font-size: 14px;
	overflow-x: hidden;
	font-weight: 400;
	color: $color-base;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 20px;
	color: $color-title;
}

p {
	margin-bottom: 20px;
	font-family: $font-text;
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s ease;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

//////////////////////////

// ------------------------------------------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------------------------------------------

@mixin block-absolute ($top, $right, $bottom, $left) {
	position: absolute;
	@if $top != none {top: $top;} 
	@if $right != none {right: $right;}
	@if $bottom != none {bottom: $bottom;}
	@if $left != none {left: $left;}
}

@mixin background ($url) {
	background-image: $url;
	background-size: cover;
	background-position: center;
}

// ------------------------------------------------------------------------------------------------
// COLOR SHEMA 
// ------------------------------------------------------------------------------------------------

.color-shema-while {
	color: #fff;

	h1,h2,h3,h4,h5,h6, input{
		color: #fff;
	}

	p, ul, span {
		color: rgba($color: #fff, $alpha: 0.7);
	}
}


// ------------------------------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------------------------------

//**** TOP BAR ****//

.top-bar {
	background-color: #262829;
}

.top-bar-inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;

	> div {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	> div:not(:last-child) {
		margin-right: 25px;
		padding-right: 25px;
		border-right: 1px solid rgba($color: #fff, $alpha: 0.3);
	}
}


//**** HEADER GENERAL ****//

.header-general-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.logo-header {
	flex-shrink: 0;
	margin-right: 15px;
}

.header-menu {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-right: -15px;

	li {
		a {
			display: inline-block;
			padding: 10px;
			margin: 0 8px;
			color: #4e4e4e;
		}

		&:hover,
		&.active {
			a {
				color: #ffac55;
			}
		}
	}

}

.burger-menu {
	display: none;
	margin: 5px;
	padding: 10px 15px;
	font-size: 20px;
	background: transparent;
	border: 1px solid #000;
}


// ------------------------------------------------------------------------------------------------
// BANNER
// ------------------------------------------------------------------------------------------------

.banner {
	background: url(../img/banner.png);
	background-size: cover;
	padding-top: 176px;
	margin-bottom: 95px;
	position: relative;
}

//**** Industary ****//

.industary {
	max-width: 458px;
	text-transform: uppercase;

	.row {
		> div:nth-child(even) {
			border-bottom: 1px solid #00a6d3;
			border-right: 1px solid #00a6d3;
		}

		> div:nth-child(odd) {
			border-bottom: 1px solid #00a6d3;
		}

		> div:last-child,
		> div:nth-last-child(2) {
			border-bottom: none;
		}
	}
}

.industary-flex {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.industary-title {
	padding: 27px 39px;
	background: #FFAC56;

	h4 {
		margin-bottom: 0;
		font-size: 30px;
		font-family: $font-primary-2;
		font-weight: 300;
		letter-spacing: -0.5px;
	}
	
	p {
		color: #fff;
		margin-bottom: 0;
		letter-spacing: 2px;
		text-transform: none;
	}

}

.industary-link {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	padding-top: 35px;
	padding-left: 39px;
	padding-right: 27px;
	padding-bottom: 32px;
	
	background: #03B6E7;

	img {
		margin-bottom: 6px;
	}

	&:hover {
		background: #00A6D3;

		.arrow-right-industary {
			opacity: 1;
		}
	}
}

.industary-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 149px;
	background: #03B6E7;
}

.title-text-industary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.arrow-right-industary {
	border: 1px solid #fff;
	padding: 3px 10px;
	border-radius: 50%;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}


//**** arrow-banner ****//

.arrow-banner {
	position: absolute;
	top: 50%;
	height: 105px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	background: #262829;
	transform: translateY(-50%);
	transition: background 0.3s ease;
	cursor: pointer;

	&:hover {
		background: #1b2225;
	}
}

.arrow-left {
	left: 0;
}

.arrow-right {
	right: 0;
}


//**** button-full ****//

.button-full {
	display: inline-block;
	padding: 14px;
	min-width: 132px;
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	flex-shrink: 0;
	border-radius: 40px;
	background: #16d428;
	color: #fff;
	transition: all 0.3s ease;


	&.btn-large {
		padding: 19px;
		min-width: 154px;
		letter-spacing: 1px;
	}

	&.btn-medium-large {
		min-width: 148px;
	}

	&.btn-max-large {
		min-width: 163px;
	}

	&:hover {
		background: #10911d;
	}
}

//**** title ****//

.title {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -2px;

}

.sub-title {
	text-transform: uppercase;
	letter-spacing: -0.6px;
}

// ------------------------------------------------------------------------------------------------
// ABOUT
// ------------------------------------------------------------------------------------------------

.about {
	margin-bottom: 67px;

	.title {
		letter-spacing: -2.5px;
	}
}

.about-text {
	margin-top: 5px;
	margin-right: 21px;
	margin-bottom: 30px;
	text-align: right;

	.title {
		margin-bottom: 25px;
	}

	p {
		margin-bottom: 39px;
		line-height: 2;
	}
}

.about-foto{
	position: relative;

	> img {
		width: 100%;
	}
}

.badge {
	position: relative;
	margin: 0 auto;
	margin-top: -93px;
	margin-bottom: -159px;
	max-width: 235px;
	width: 100%;
	padding: 17px;
	border: 6px solid #fff;
	box-shadow: 0 9px 16px rgba(154, 154, 154, 0.3);
	background: #03B6E7;

}

.badge-content {
	height: 100%;
	border: 1px solid rgba($color: #fff, $alpha: 0.3);
	text-transform: uppercase;
	text-align: center;
	line-height: 1;

	img {
		margin-bottom: 30px;
	}

	.number {
		font-size: 75px;
	}

	.text {
		margin-bottom: 29px;
		font-size: 10px;
		letter-spacing: 1px;
	}
}

// ------------------------------------------------------------------------------------------------
// STEP
// ------------------------------------------------------------------------------------------------

.step {
	background: #E7EFF1;
	padding-top: 90px;
	padding-bottom: 58px;
	margin-bottom: 93px;

	img {
		margin-bottom: 26px;
	}

	h6 {
		margin-bottom: 17px;

		a {
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: -1px;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	p {
		line-height: 2;
		letter-spacing: 1px;
	}

	.title {
		margin-bottom: 18px;
	}

	.number {
		margin-bottom: 11px;
		font-size: 20px;
		color: #16d428;
		line-height: 1;
	}

	.row {
		> div {
			margin-bottom: 30px;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// PROJECT
// ------------------------------------------------------------------------------------------------

.projects {
	margin-bottom: 94px;
	
	.title {
		margin-bottom: 30px;
	}
}

.project-foto {
	position: relative;
	margin-bottom: 30px;

	img {
		width: 100%;
	}

	.info {
		@include block-absolute(22px, none, none, 20px);
		padding: 6px;
		min-width: 109px;
		border: 1px solid #FFAC56;
		border-radius: 20px;
		background: transparent;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
	}

	&::before {
		content: ''; 
		@include block-absolute(none, none, 0, 0);
		border: 28px solid transparent;
		border-bottom: 28px solid #03B6E7;;
		border-left: 28px solid #03B6E7;
		transition: border-color 0.3s ease;
		z-index: 1;
		cursor: pointer;
	}

	&::after {
		content: '+';
		@include block-absolute(none, none, -5px, 8px);
		font-size: 30px;
		font-weight: 700;
		color: #fff;
		z-index: 1;
		cursor: pointer;
	}

	&:hover {
		.project-text-hover {
			opacity: 1;
			visibility: visible;
		}

		&:before {
			border-bottom-color: rgba($color: #000, $alpha: 0.1);
			border-left-color: rgba($color: #000, $alpha: 0.1);
		}
	}
}

.project-text-hover {
	@include block-absolute(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	background: #FFAC56;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;

	h6 {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 14px;
}


// ------------------------------------------------------------------------------------------------
// TESTIMONIALS
// ------------------------------------------------------------------------------------------------

.testimonials {
	background: #03B6E7;
	padding-top: 92px;
    padding-bottom: 80px;

	p {
		margin-bottom: 29px;
		line-height: 2;
		max-width: 908px;
		letter-spacing: 0.6px;
	}

	.title {
		margin-bottom: 44px;
	}

	.row {
		margin-bottom: 43px;

		img {
			margin-top: 8px;
		}
	}

	.line {
		height: 2px;
		width: 17px;
		background: #fff;
	}
}

.testimonials-clients {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.clients-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.client {
	display: flex;
	align-items: center;
	margin-right: 95px;
	margin-bottom: 15px;
	margin-top: 15px;
	opacity: 0.5;
	transition: opacity 0.3s ease;

	h6 {
		margin-bottom: 0;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	p {
		margin-bottom: 0;
	}

	&:hover {
		opacity: 1;
	}
}

.client-foto {
	margin-right: 30px;
	flex-shrink: 0;
}

.carousel {
	display: flex;
	margin-right: -5px;
	
	div {
		position: relative;
		width: 13px;
		height: 13px;
		margin-right: 5px;
		border: 2px solid #fff;
		border-radius: 50%;
		transition: border-color 0.3s ease;
		cursor: pointer;

		&:hover,
		&.active {
			border-color: #15D32F;

			&::after {
				content: "·";
				position: absolute;
				top: -6px;
				left: 3px;
				color: #15D32F;
			}
		}
	}
}

// ------------------------------------------------------------------------------------------------
// BLOG
// ------------------------------------------------------------------------------------------------

.blog {
	background-color: #E7EFF1;
	margin-bottom: 92px;
}

.blog-flex-right {
	display: flex;
	justify-content: flex-end;
}

.blogs-content {
	max-width: 585px;
	padding: 15px;
	padding-bottom: 27px;
	padding-right: 51px;
	margin-top: 77px;
}

.blog-header {
	display: flex;
	margin-bottom: 23px;

	.title {
		letter-spacing: -2.5px;
	}
}

.blog-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
	flex-wrap: wrap;

	li {
		a {
			display: inline-block;
			min-width: 138px;
			margin: 6px;
			padding: 6px;
			border: 2px solid #989FA0;
			border-radius: 20px;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			color: #606668;
			letter-spacing: -1px;

			&:hover,
			&.active {
				border-color: #FFAC56;
			}
		}
	}
}

.blog-text{
	margin-bottom: 60px;

	h6 {
		margin-bottom: 12px;

		a {
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: -1.2px;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	p {
		line-height: 2;
		letter-spacing: 0.7px;
	}

	.date {
		margin-bottom: 6px;
		font-family: $font-text;
		color: $color-title;
		letter-spacing: 0.7px;
	}

	.color {
		transition: all 0.3s ease;
	}

	&:hover {
		.color {
			color: #16d428;
		}
	}
}

.blog-foto{
	margin-right: -15px;
	height: 100%;
	background-image: url(../img/blog-foto.png);
	background-size: cover;
}

// ------------------------------------------------------------------------------------------------
// CONTACT
// ------------------------------------------------------------------------------------------------

.contact {
	margin-bottom: 63px;

	.title {
		margin-bottom: 29px;
	}

}

.contact-infobox {
	display: flex;
	flex-wrap: wrap;
	padding: 34px;
	padding-right: 20px;
	margin-bottom: 30px;
	border: 1px solid #E1EAEC;

	h6 {
		margin-bottom: 0;
		margin-top: 2px;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: -1.3px;
	}

	.info {
		font-size: 18px;
		font-family: $font-text;
	}
}

.contact-foto {
	margin-right: 40px;
	flex-shrink: 0;
}

// ------------------------------------------------------------------------------------------------
// FOOTER-MAIN
// ------------------------------------------------------------------------------------------------

.footer-main {
	background-color: #262829;
	padding-top: 88px;

	h6 {
		margin-bottom: 22px;
		font-weight: 700;
		font-size: 20px;
		opacity: 0.865;
		text-transform: uppercase;
		letter-spacing: -1.2px;
	}

	a {
		display: inline-block;
		padding: 7px 0;
		line-height: 1.2;
		letter-spacing: -0.5px;
		text-transform: uppercase;
		opacity: 0.65;

		&:hover{
			opacity: 1;
		}
	}

	form {
		display: flex;
		align-items: center;
		max-width: 514px;
		overflow: hidden;
		border-radius: 26px;
		background-color: rgba($color: #000000, $alpha: 0.1);
	}

	input[type=email] {
		min-width: 100px;
		padding: 18px;
		padding-left: 34px;
		flex-grow: 1;
		font-family: inherit;
		background: transparent;
		border: none;
		outline: none;

		&::placeholder {
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 0.2px;
		}
	}


	.row {
		> div {
			margin-bottom: 30px;
		}
	}
}
.footer-main-inner {
	margin-bottom: 54px;

	p {
		margin-bottom: 37px;
		max-width: 408px;
		line-height: 1.8;
		letter-spacing: 0.7px;
		opacity: 0.5;
	}
}

.copyring {
	padding-top: 20px;
    padding-bottom: 55px;
    letter-spacing: 0.6px;
	border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
}



// ------------------------------------------------------------------------------------------------
// MEDIA
// ------------------------------------------------------------------------------------------------

@media (min-width: 1200px){
	.container {
		width: 1170px;
	}
}

@media (max-width: 993px) {

	//**** HEADER ****//

	.top-bar {
		display: none;
	}

	.header-menu {
		display: none;
	}

	.burger-menu {
		display: block;
	}


	//**** BANNER ****//

	.banner {
		padding-top: 15px;
		margin-bottom: 50px;
	}

	.industary-title {

		h4{
			font-size: 24px;
		}

		p {
			letter-spacing: 0;
		}
	}

	.industary {
		.row {
			> div:nth-last-child(2){
				border-bottom: 1px solid #00a6d3;
			}
		}
	}


	//**** SPEP ****//

	.step {
		padding-top: 130px;
		margin-bottom: 50px;
	}

	//**** PROJECTS ****//

	.projects {
		margin-bottom: 50px;
	}

	//**** TESTIMONIALS ****//
	
	.testimonials {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	//**** BLOG ****//

	.blog{
		margin-bottom: 50px;
	}

	.blog-header {
		flex-wrap: wrap;
	}

	.blogs-content {
		max-width: none;
		padding: 15px;
		margin-top: 50px;
	}

	//**** contact ****//

	.contact {
		margin-bottom: 15px
	}

	//**** footer-main ****//

	.footer-main {
		padding-top: 50px;
	}

	.footer-main-inner {
		margin-bottom: 20px;
	}

	.copyring {
		padding: 20px 0;
	}

}


@media(max-width: 450px) {
	.badge {
		display: none;
	}

	.step {
		padding-top: 50px;
	}

	.testimonials-clients {
		flex-wrap: wrap;
	}

	.client {
		margin-right: 15px;
	}

	.blog-menu {
		justify-content: center;
	}

	.button-full.btn-large {
		min-width: 110px;
	}
}
